* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}

div.center {
  background: #fff;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.num {
  font-weight: 100;
  font-size: 48px;
}
.text {
  font-size: 15px;
}

.portion-block {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.circle {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}

#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: #e64c65;
  animation: first 1s 1 forwards;
}

#part2 {
  transform: rotate(198deg);
}
#part2 .circle {
  background-color: #11a8ab;
  animation: second 1s 1 forwards 1s;
}
#part3 {
  transform: rotate(324deg);
}
#part3 .circle {
  background-color: #4fc4f6;
  animation: third 0.5s 1 forwards 2s;
}

/* Animation */
@keyframes first {
  from {
    transform: rotate(0deg);
  }
  to {
    /* transform: rotate(100deg); */
    transform: rotate(198deg);
  }
}

@keyframes second {
  from {
    transform: rotate(0deg);
  }
  to {
    /* transform: rotate(150deg); */
    transform: rotate(126deg);
  }
}

@keyframes third {
  from {
    transform: rotate(0deg);
  }
  to {
    /* transform: rotate(111deg); */
    transform: rotate(36deg);
  }
}
