* {
  box-sizing: border-box;
}
body {
  background-color: #d5cabd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.box {
  padding: 10px;
  background-color: #4e8397;
  width: 300px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 15px;
  transform: translateX(500%);
  transition: transform 0.4s ease;
}
.box:nth-child(even) {
  transform: translateX(-500%);
}
.box h2 {
  font-size: 40px;
}
.box.show {
  transform: translateX(0);
}
