@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
img {
  max-width: 100%;
}
.card {
  box-shadow: 0 2px 10px rgba(107, 107, 107, 0.3);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}
.card-header {
  height: 150px;
}
.card-header img {
  object-fit: cover;
  /*图片比container要大的话，把图片多余的部分隐藏，要配合 width: 100%;
  height: 100%;一起使用*/
  width: 100%;
  height: 100%;
}
.card-contain {
  padding: 30px;
  background-color: #fff;
}
.card-title {
  margin: 0;
  height: 20px;
}
.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}
.author {
  display: flex;
  align-items: center;
}
.author-info small {
  color: #aaa;
  margin-top: 5px;
}
.animated-bg {
  background-image: linear-gradient(
    to right,
    #d1d1d1,
    #d9d9d9,
    #e1e1e1,
    #e9e9e9,
    #f1f1f1
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}
.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  width: 100%;
  margin: 0;
  height: 10px;
  /*
   display: inline-block;
  width: 100%;
  让span可以变成行
  */
}
@keyframes bgPos {
  0% {
    background-size: 50% 0;
  }
  100% {
    background-size: -150% 0;
  }
}
